<a onclick="update()">Изменить</a>
<button id="delete" onclick="del()">Удалить</button>
<a href="/">Отказаться</a>
<br>
<div class="form-group">
    <input type="text" id="name" placeholder="Name" value={{inputName}} onchange="change()">
    <label for="name">Name</label>
</div>
<div class="form-group">
    <input type="text" id="phone" placeholder="Phone" value={{inputPhone}} onchange="change()">
    <label for="phone">Phone</label>
</div>